nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1{
      color: rgb(10, 10, 10);
    }
    button {
      color: rgba(0, 0, 0, 0.842);
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0.5rem;
      border: 2px solid rgb(10, 10, 10);
      transition: all 0.3s ease;
      &:hover {
        background:rgba(181, 88, 194, 0.801);
        color: rgb(12, 12, 12);
      }
    }
    .library-active {
      background:rgba(181, 88, 194, 0.801) ;
      color: white;
    }
  }
  
  @media screen and (max-width: 768px) {
    nav {
      button {
        z-index: 10;
      }
    }
  }