*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Lato", sans-serif;
    background-color: rgb(247, 242, 242);
  }
  .App {
    transition: all 0.5s ease;
  }
  .library-active {
    margin-left: 30%;
  }
  
  h1 {
    font-size: 1rem;
  }
  h2 {
    color: rgb(7, 7, 7);
  }
  h3,
  h4 {
    color: rgb(7, 7, 7);
    font-weight: 400;
  }


@import "./_song";
@import "./_player";
@import "./_nav";
@import "./library";
